*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }


    img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Behind everything */
    opacity: 0.3; /* Optional: make it subtle */
    }


    .clock{
        width: 100%;
        max-width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1),
        0px 10px 20px rgba(0,0,0,0.7);
        height: 24vh;
        border-radius: 12px;
        padding: 20px;
    }

    .clock h1{
        font-size:3.5rem ;
        font-weight: 600;
    }

    .clock span{
        position: relative;
        top: -13%;
        margin-left: 5px;
        font-size: 20px;
        font-family: 700;
    }

    @media screen  and (max-width:400px){
        .clock{
            max-width: 210px;
            padding: 5px;
        }
        .clock h1{
            font-size: 1.9rem;
        } 
    }

     @media screen and (min-width:275px) and (max-width:400px){
        .clock{
            max-width: 260px;
            padding: 5px;
        }
        .clock h1{
            font-size: 2.4rem;
        } 
    }